body {
    background-image: linear-gradient(rgb(236, 232, 221), rgb(255, 71, 71), rgba(56, 56, 56, 0.438));
    background-repeat: no-repeat;
    background-size: auto;
}

.subtitle {
    background-color: #00000f;
    font-family: 'monstear';
    color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
}

.about {
    font-weight: bold;
}

